/* .post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../../../../public/assets/1280417267661803541.webp") no-repeat center center;
  background-size: cover;
  background-color: black;
  background-size: cover;
  color: white;
  text-align: start;
  padding: 20px;
  margin-top: 50px;
}
.kadi-container {
  background-color: rgba(0, 0, 0, 0.29);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  max-width: 900px;
  margin: auto;
  height: auto;
  padding: 40px;
  border-radius: 12px;
  border: 1px solid white;
}
.post-title {
  color: white;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  text-align: start;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.post-body {
  font-size: 1.7rem;
  line-height: 1.8;
  color: gray;
  margin-bottom: 2rem;
  padding: 10px 10px 10px 0; 
  border-radius: 0.5rem;
}

.post-meta,
.post-reactions,
.post-views {
  font-size: 1.45rem;
  margin-top: 1.5rem;
  color: white;
}

.post-meta {
  font-style: italic;
}

.post-reactions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}

.reaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.75rem;
}

.reaction .reaction-count {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(247, 158, 50);
}

.like-dislikes {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
}

.post-views {
  text-align: center;
  margin-top: 2.5rem;
  color: white;

  font-size: 2rem;
}

@media (max-width: 600px) {
  .post-title {
    font-size: 2.5rem;
  }

  .post-body {
    font-size: 1.2rem;
  }

  .reaction {
    font-size: 1.5rem;
  }

  .reaction .reaction-count {
    font-size: 1.8rem;
  }
} */
