.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.page-title {
  text-align: center;
  padding: 1rem auto;
  margin-bottom: 3rem;
  color: #0c0c0c;
  background-color: #e59203;
  font-weight: 700;
  font-size: 5rem;
  display: inline-block;
  border-radius: 1rem;
  margin-top: 3.5rem;
}

.posts-container {
  font-size: 2rem;
  flex-grow: 1;
  min-height: 100vh;
}

.post {
  border: 1px solid #fbb438;
  padding: 2.2rem;
  border-radius: 0.8rem;
  background-color: #fcebc7b9;
  margin-top: 1rem;
  transition: all 0.2s;
  position: relative;
}

.post:hover {
  background-color: #fcebc79c;
  transform: scale(1.01);
}

.reactions-container {
  margin-top: 2rem;
  background-color: #e5920335;
  border-radius: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.like-dislike {
  color: rgb(12, 97, 9);
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.like,
.dislike {
  font-size: 1.3rem;
}

.views {
  color: rgba(114, 113, 113, 0.736);
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.post-title {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: bold;
  color: rgb(16, 10, 73);
}

.post-content {
  color: rgb(16, 3, 83);
  font-size: 1.5rem;
}

.Link {
  text-decoration: none;
  color: inherit;
}
.see-more {
  text-decoration: none;
  font-size: large;
  color: brown;
}

.deletePost {
  width: 3rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.updatePost {
  width: 3rem;
  position: absolute;
  top: 1rem;
  right: 6rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
