.product-grid {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding: 2rem;
}
.Link {
  color: inherit;
}

/* სორტირება */
.container {
  min-height: 100vh;
  margin-top: 4rem;
}
.sort-container {
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}
.sort-select {
  width: 15rem;
  padding: 1rem 2rem;
}

/* რესპონსიულობა */

@media (max-width: 1000px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
