.product-grid {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding: 2rem;
}
.Link {
  color: inherit;
  position: relative;
}


.container {
  min-height: 100vh;
  margin-top: 4rem;
}
.sort-container {
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}
.sort-select {
  width: 13rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  appearance: none;
}
.delete-button {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 999px;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.edit-button {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 999px;
  background-color: transparent;
  top: 1rem;
  right: 5rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.edit-button:hover {
  transform: scale(1.1);
}

.delete-button:hover {
  transform: scale(1.1);
}


@media (max-width: 1000px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
