.custom-button {
  padding: 1rem 2rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s;
  margin-top: 1rem;
}
.custom-button:active {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  transform: translateY(3px);
}

.custom-button:hover {
  background-color: #1b8532;
}
