.addIcon {
  width: 7rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 600;
  color: green;
  position: fixed;
  bottom: 5.9rem;
  right: 5rem;
  z-index: 30;
  cursor: pointer;
  transition: all 0.2s;
}

.addIcon:hover {
  transform: scale(1.05);
}

.blog-blanc {
  width: 60vw;
  height: 75vh;
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(245, 213, 172);
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* form */

.post-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
}

.post-form input,
.post-form textarea {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  font-size: 1.7rem;
  transition: border-color 0.4s ease, box-shadow 0.3s ease;
}

.post-form input:focus,
.post-form textarea:focus {
  border-color: #3498db;
  box-shadow: 0 0.5rem 1rem rgba(52, 152, 219, 0.5);
  outline: none;
}

.post-form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.post-form textarea {
  min-height: 20rem;
  resize: none;
}

.post-form button {
  padding: 0.75rem;
  background-color: rgb(6, 168, 6);
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post-form button:hover {
  background-color: green;
}

.return {
  width: 3rem;
  position: absolute;
  right: 5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.return:hover {
  transform: scale(1.1);
}
