.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60rem;
  margin: 0 auto;
}

.form-input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #0070f3;
  outline: none;
}

.update-button {
  padding: 10px 15px;
  background-color: #0070f3;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.update-button:hover {
  background-color: #005bb5;
}

h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
  text-align: center;
}
