.product {
  border: 1px solid #ccc;
  padding: 2rem;
  text-align: center;
  background-color: antiquewhite;
  border-radius: 0.5rem;
}

.product-image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.product-title {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.product-description p {
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: black !important;
}
