.product {
  border: 1px solid #ccc;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  transition: all 0.2s;
  cursor: pointer;
  height: 100%;
  background-color: rgba(41, 37, 37, 0.352); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.product:hover {
  transform: scale(1.02);
}

.product-image {
  width: 18rem;
  height: 10rem;
  
  object-fit: cover;
}

.product-title {
  color: white;
  font-size: 2rem;
  margin: 1rem 0;
}

.product-description {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: white !important;
}
.price {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-weight: 500;
}
