.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  max-width: 800px;
  margin: auto;
}

.post-title {
  color: rgb(248, 152, 34);
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.post-body {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #333;
  margin-bottom: 2rem;
  background-color: rgba(231, 249, 255, 0.7);
  border-left: 0.5rem solid rgb(245, 167, 71);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.post-meta,
.post-reactions,
.post-views {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  color: #222121;
}

.post-meta {
  font-style: italic;
}

.post-reactions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgba(251, 206, 206, 0.7);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.reaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.75rem;
  color: #cf2d27;
}

.reaction .reaction-count {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(247, 158, 50);
}

.post-views {
  text-align: center;
  margin-top: 2.5rem;
  color: rgba(34, 189, 236, 0.8);

  font-size: 2rem;
}

@media (max-width: 600px) {
  .post-title {
    font-size: 2.5rem;
  }

  .post-body {
    font-size: 1.2rem;
  }

  .reaction {
    font-size: 1.5rem;
  }

  .reaction .reaction-count {
    font-size: 1.8rem;
  }
}
