/* .main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
} */
/* .ribbon-image {
  z-index: -1;
  pointer-events: none;
  width: 100%;
  position: absolute;
  inset: 0%;
} */
/* .center-text {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
} */
/* .tag-flex {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: center;
  display: flex;
} */

/* .title {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: Roboto Mono, sans-serif;
  font-weight: 700;
  line-height: 100%;
  color: white;
  font-size: 16px;
} */
/* .container33 {
  max-width: 1360px;
  padding-left: 40px;
  padding-right: 40px;
} */
/* .center-content {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  text-align: center;
  margin-top: 20px;
} */
/* .limit {
  max-width: 480px;
} */
/* .medium-text {
  text-align: center;
  line-height: 150%;
  color: #ffffffb3;
  margin-bottom: 24px;
  font-size: 18px;
} */
/* 
.blue-button {
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 12px 24px;
  line-height: 100%;
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 20px;
} */
