*,
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 10px;
  box-sizing: border-box;
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 800px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 6px;
  }
}
@media (max-height: 500px) {
  html {
    font-size: 5px;
  }
}

@media (max-height: 400px) {
  html {
    font-size: 4px;
  }
}

@media (max-height: 300px) {
  html {
    font-size: 2.5px;
  }
}

@media (max-height: 250px) {
  html {
    font-size: 2px;
  }
}
