.contact-container {
  background: url("https://thefoodellers.com/wp-content/uploads/2023/11/italy-food-wine-1024x585.jpg")
    no-repeat center center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f9fc;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  padding: 1.5rem;
  color: #333;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40rem;
  background-color: rgba(220, 187, 132, 0.501);
  padding: 3rem 4rem;
  border-radius: 1rem;
}

input,
textarea {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  width: 100%;
  font-size: 1.4rem;
}
textarea {
  height: 10rem;
  resize: none;
}
label {
  font-weight: 600;
  color: rgb(93, 5, 5);
  display: block;
  font-size: 1.4rem;
}
