.search-controls {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.search-controls label {
  font-weight: bold;
}

.search-controls input {
  background-color: transparent;
  padding: 1rem;
  border: 2px solid #ccc;
  font-size: 1.3rem;
  width: 40rem;
  transition: border-color 0.3s ease;
  height: 40px;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
  font-size: 20px;
}
.search-controls input::placeholder {
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
}
.search-controls input:focus {
  outline: none;
}
