.search-controls {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.search-controls label {
  font-weight: bold;
}

.search-controls input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #ccc;
  font-size: 1.5rem;
  width: 40rem;
  transition: border-color 0.3s ease;
}

.search-controls input:focus {
  border-color: #4caf50;
  outline: none;
}
