.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, rgb(202, 179, 4), rgb(215, 102, 10));
  padding: 1rem 2rem;
  color: white;
}

.Header-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav .Header-ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.Header-ul li {
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
}

.Header-ul li:hover {
  transform: scale(1.2);
}
