.Header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  z-index: 999;
  padding: 24px 24px;
}
.Header > nav {
  display: flex;
 
}
nav .Header-ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.5rem;
}

.Header-ul li,
.Link {
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.31s;
  font-weight: bold;
}
.Header-ul li {
  position: relative; 
  padding: 10px 0; 
}
.Header-ul li::after {
  content: '';
  position: absolute;
  left: 50%; 
  bottom: 0; 
  width: 0; 
  height: 2px; 
  background-color: #3898ec; 
  transition: width 0.3s ease, left 0.3s ease; 
}

.Header-ul li:hover::after {
  width: 100%; 
  left: 0;
}


.Link {
  color: white;
  text-decoration: none;
}
.header-button {
  line-height: inherit;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: #000;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 8px;
  padding: 12px 24px;
  font-family: Roboto Mono, sans-serif;
  font-weight: 500;
  line-height: 100%;
}
.Header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.8rem;
  font-weight: bold;
}
