.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, rgb(102, 4, 48), rgb(133, 34, 4));
  padding: 1rem 2rem;
  color: white;
}

.Header-logo {
  font-size: 2.5rem;
  font-weight: bold;
}

nav .Header-ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.Header-ul li {
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.31s;
  font-weight: bold;
}

.Header-ul li:hover {
  transform: scale(1.2);
}
