.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../../../public/assets/as.jpg")
  no-repeat center center;
background-size: cover;
  background-color: black;
  background-size: contain;
  color: white;
  text-align: center;
}

.container34 {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  margin-top: 60px;
}

.container34 .contactInfo {
  position: absolute;
  top: 40px;
  background-color: #008cff;
  width: 320px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: calc(100% - 80px);
}

.container34 .contactInfo h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.container34 .contactInfo ul.info {
  position: relative;
  margin: 20px 0;
}

.container34 .contactInfo ul.info li {
  position: relative;
  list-style-type: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-self: flex-start;
}

.container34 .contactInfo ul.info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

.container34 .contactInfo ul.info li span img {
  max-width: 100%;
  filter: invert(1);
  opacity: 0.5;
}

.container34 .contactInfo ul.info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
  opacity: 0.5;
}

.container34 .contactInfo ul.info li:hover span img,
.container34 .contactInfo ul.info li:hover span:nth-child(2) {
  opacity: 1;
}

.container34 .contactInfo ul.socialIcon {
  position: relative;
  display: flex;
}

.container34 .contactInfo ul.socialIcon li {
  list-style-type: none;
  margin-right: 15px;
}

.container34 .contactInfo ul.socialIcon li a img {
  filter: invert(1);
  opacity: 0.5;
}

.container34 .contactInfo ul.socialIcon li a img:hover {
  opacity: 1;
}

.container34 .contactForm {
  position: absolute;
  background-color: rgba(41, 37, 37, 0.29); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 70px 50px;
  padding-left: 250px;
  margin-left: 150px;
  height: 100%;
  box-shadow: 0 50px 50px rgba(0,0,0,0.5);
}

.container34 .contactForm h2 {
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.container34 .contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.container34 .contactForm .formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
}

.container34 .contactForm .formBox .inputBox.w50 {
  text-align: start;
  width: 47%;
}
.container34 .contactForm .formBox .inputBox.w50 span {
  font-size: 12px;
  
}
.container34 .contactForm .formBox .inputBox.w50 input {
  font-size: 12px;
}
.container34 .contactForm .formBox .inputBox.w100 {
  width: 100%;
}

.container34 .contactForm .formBox .inputBox input,
.container34 .contactForm .formBox .inputBox textarea {
  width: 100%;
  resize: none;
  padding: 10px 5px;
  font-size: 12px;
  color: #333;
  border: none;
  outline: none;
  border-bottom: 1px solid #777;
  
}


.container34 .contactForm .formBox .inputBox input:focus ~ span,
.container34 .contactForm .formBox .inputBox input:valid ~ span,
.container34 .contactForm .formBox .inputBox textarea:focus ~ span,
.container34 .contactForm .formBox .inputBox textarea:valid ~ span {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  font-family: arial;
}

.container34 .contactForm .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background-color: #008cff;
  color: #fff;
  border: none;
  padding: 12px;
}

.container34 .contactForm .formBox .inputBox input[type="submit"]:hover {
  opacity: .75;
  font-weight: 500;
}