.updatePost {
  width: 3rem;
  position: absolute;
  top: 1rem;
  right: 6rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.update-blog-blanc {
  width: 60vw;
  height: 35vh;
  border-radius: 1rem;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-color: rgb(245, 213, 172);
  z-index: 210;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* form */

.update-post-form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 1rem;
  margin: 0 auto;
}

.update-post-form input,
.update-post-form textarea {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  font-size: 1.4rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.update-post-form input:focus,
.update-post-form textarea:focus {
  border-color: #3498db;
  box-shadow: 0 0.5rem 1rem rgba(52, 152, 219, 0.5);
  outline: none;
}

.update-post-form label {
  font-weight: bold;
  font-size: 1.3rem;
}

.update-post-form textarea {
  min-height: 2rem;
  resize: none;
}

.update-post-form button {
  padding: 0.75rem;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-post-form button:hover {
  opacity: .75;
}

.update-post-return {
  width: 3rem;
  position: absolute;
  right: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.update-post-return:hover {
  transform: scale(1.1);
}
