.main-container {
  background: url("https://cdn.architextures.org/textures/20/08/buff-common-5f2fdc270073c-1200.jpg");
  background-repeat: repeat;
  background-size: 100px 100px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
