.Content {
  background-image: url("https://media.licdn.com/dms/image/D4D12AQE6-AIm2o8Zfw/article-cover_image-shrink_720_1280/0/1708753498052?e=2147483647&v=beta&t=WGF5cX14RQJ3oFZiPcqfzpyzBMw8fRcShHE2Co6jUZ8");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 2rem;
  text-align: center;
}

.Content section {
  margin-bottom: 1.6rem;
}

.Content section img {
  width: 250px;
}

.Content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: bisque;
}

.Content .lists {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto;
  color: antiquewhite;
}
.text-container {
  padding: 20px 20px;
  border-radius: 10px;
  background-color: rgba(12, 4, 49, 0.387);
}
span {
  font-weight: 700;
  font-size: 1.5rem;
}

@media (max-width: 400px) {
  .Content section img {
    width: 200px;
  }
}
@media (max-height: 700px) {
  .Content section img {
    width: 160px;
  }
}
@media (max-height: 400px) {
  .Content section img {
    width: 120px;
  }
}
