.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 2rem;
  text-align: center;
}

.Content section {
  margin-bottom: 1.6rem;
}

.Content section img {
  width: 250px;
}

.Content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.Content p {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

footer {
  background-color: #222;
}

@media (max-width: 400px) {
  .Content section img {
    width: 200px;
  }
}
@media (max-height: 600px) {
  .Content section img {
    width: 160px;
  }
}
