.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
  background: url("../../../../public/assets/aka.jpg")
  no-repeat center center;
background-size: cover;
}
.about-us {
  display: flex;
  flex-direction: column;
  background-color: rgba(41, 37, 37, 0.29); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 5rem;
  margin-top: 50px;
}
.about-us h1 {
  width: 100%;
  max-width: 1100px;
  font-size: 6rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.about-us p {
  text-align: center;
  padding: 1rem 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: gray;
  width: 800px;
  margin: 0 auto;
  padding-top: 50px;
}
.about-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.about-buttons div:nth-child(1) {
  width: 180px;
  height: 50px;
  background-color: #008cff;
  border-radius: 25px;
  padding: 11px 32px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  color: white;
}
.about-buttons div:nth-child(1):hover {
  opacity: .75;
}
.about-buttons div:nth-child(2) {
  cursor: pointer;
  width: 180px;
  height: 50px;
  background-color: black;
  border-radius: 25px;
  padding: 11px 32px;
  font-size: 18px;
  text-align: center;
  color: white;
  border: 1px solid white;
}